body {
border: 10px double #ccc;
width: 80%;
}

header {
background-color: #DCDCDC;
color: white;
padding: 1px 1px;
width: 100%;
text-align: center;
line-height: 0.5
font-size: 40px;          
font-weight: bold;       
letter-spacing: 20px;
}

table th {
width: 10%;
padding: 8px;
border: 3px double #ccc; 
background-color: #DCDCDC;
font-size: 20px;  
color: #0000FF;


}
table td {
border: 1px solid #ccc;
padding: 8px;
background-color: #DCDCDC;
color: #0000FF;
height: 40px;
border: 3px double #CCC; 
}

table {
width: 100%;
border-collapse: collapse;
margin: 20px 0;
margin: 0 auto; 
}
h2 , h3{
font-size: 24px;
text-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
color: #0000FF;
 }

textarea {
width: 99%; 
height: 60px; 
padding: 5px;
border: 1px solid #0000FF;
resize: vertical; 
}

hr {
border: 3px double #ccc; 
}

.container {
padding: 20px;
overflow-y: auto; 
}

footer{
padding: 20px;
background-color: #DCDCDC;
}

 
.image-container {
display: flex;
flex-wrap: wrap;
gap: 10px;
}
.image-box {
width: 100px;
height: 100px;
overflow: hidden;
border: 5px solid #ccc;
position: relative;
}
.image-box img {
width: 100%;
height: 100%;
object-fit: cover;
}
.image-box:hover .cancel-btn {
display: block;
}
.cancel-btn {
display: none;
position: absolute;
top: 0;
right: 0;
background-color: red;
color: white;
font-size: 12px;
padding: 5px;
cursor: pointer;
}
.large-image {
display: none;
position: fixed;
top: 50%;
left: 40%;
transform: translate(-50%, -50%);
max-width: 90%;
max-height: 90%;
border: 1px solid #ccc;
background-color: white;
}
.large-image img {
width: 100%;
height: 100%;
object-fit: contain;
}
.close-btn {
position: absolute;
top: 10px;
right: 10px;
background-color: black;
color: white;
border: none;
font-size: 48px;
cursor: pointer;
}
